{% load frontend %}
{% load i18n %}
{% load static %}

  {% include "frontend/partials/heading.html" with title=_("Users") button_label=_("Create User") button_aria_label=_("Create User") button_unicorn_action="show_create" %}

<table aria-label="{% translate "User list" %}" {% include "frontend/partials/table_attrs.html" %}>
  <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title=_("Username") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Email address") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
    </thead>

    <tbody {% include "frontend/partials/table_body_attrs.html" %}>
    {% for user in object_list %}
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with title=_("Username") content=user.username %}
        {% include "frontend/partials/table_cell.html" with title=_("Email address") content=user.email %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:user.pk title=_("Edit") aria_label=_("Edit") %}
          {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:user.pk title=_("Delete") aria_label=_("Delete") %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
