{% load frontend %}
{% load i18n %}
{% load static %}

<div class="mx-4">
    <table aria-label="{% translate "Player list" %}" {% include "frontend/partials/table_attrs.html" %}>
        <thead>
            <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
                {% include "frontend/partials/table_head_col.html" with title=_("") %}
                {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
                {% include "frontend/partials/table_head_col.html" with title=_("Room") %}
                {% include "frontend/partials/table_head_col.html" with title=_("Message") %}
                {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
            </tr>
        </thead>
        <tbody {% include "frontend/partials/table_body_attrs.html" %}>
            {% for ban in object_list %}
                <tr {% include "frontend/partials/table_row_attrs.html" with inactive_criterion=ban.room|isopenforall %}>
                    {% include "frontend/partials/table_cell.html" with  is_open_for_all_room=ban.room.policy_type|openforall  only %}
                    {% include "frontend/partials/table_cell.html" with content=ban inactive_criterion=ban.room|isopenforall %}
                    {% include "frontend/partials/table_cell.html" with content=ban.room|ifnoroomall inactive_criterion=ban.room|isopenforall %}
                    {% if ban.message %}
                        {% include "frontend/partials/table_cell.html" with title=_("Message") content=ban.message only %}
                    {% else %}
                        <td class="hidden lg:table-cell"></td>
                    {% endif %}
                    <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
                        {% include "frontend/partials/table_actions_header.html" %}
                        <div {% include "frontend/partials/table_responsive_attrs.html" %}>
                            {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:ban.pk title=_("Edit ban") aria_label=_("Edit ban data") %}
                            {% include "frontend/partials/button_icon.html" with icon="icons/user-allow.svg" unicorn_action="delete"|withparam:ban.pk title=_("Remove ban") aria_label=_("Remove ban") %}
                        </div>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>


    <script type="text/javascript">
     function copyToClipboard(id) {
         let value = document.getElementById(id).href
         navigator.clipboard.writeText(value)
     }
    </script>
