{% load frontend %}
{% load i18n %}
{% load static %}

{% if not world  %}
  {% include "frontend/partials/heading.html" with title=_("Character textures") button_label=_("Create character texture") button_aria_label=_("Create Character Texture") button_unicorn_action="show_create" %}
    <div class="bg-grey-2 my-4">
      {% include "frontend/partials/form_select.html" with label=_("Select worlds to display") id="filter_choices" unicorn_model="selected_filter_choice" choices=filter_choices%}
    </div>
{% endif %}
  <table aria-label="{% translate "Character texture list" %}" {% include "frontend/partials/table_attrs.html" %}>
    <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title="" %}
      {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
      {% include "frontend/partials/table_head_col.html" with title=_("ID") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Level") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Policy") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Tags") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Worlds") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
    </thead>

  <tbody {% include "frontend/partials/table_body_attrs.html" %}>
  {% for character_texture in filtered_list %}

      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        <td {% include "frontend/partials/table_cell_attrs.html" %}>
          <img src="{{character_texture.url}}" class="h-10 w-10"\>
        </td>
        {% include "frontend/partials/table_cell.html" with title=_("Name") content=character_texture.name %}
        {% include "frontend/partials/table_cell.html" with title=_("ID") content=character_texture.texture_id %}
        {% include "frontend/partials/table_cell.html" with title=_("Level") content=character_texture.level %}
        {% include "frontend/partials/table_cell.html" with title=_("Policy") content=character_texture.get_policy_type_display %}
        {% if character_texture.tags.all %}
          {% include "frontend/partials/table_cell.html" with title=_("Tags") content=character_texture.tags.all|join:", " %}
        {% else %}
          <td class="hidden lg:table-cell"></td>
        {% endif %}
        {% if character_texture.world_set.all %}
          {% include "frontend/partials/table_cell.html" with title=_("Worlds") content=character_texture.world_set.all|join:", " %}
        {% else %}
          <td class="hidden lg:table-cell"></td>
        {% endif %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/table_actions_header.html" %}
          <div {% include "frontend/partials/table_responsive_attrs.html" %}>
            {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:character_texture.pk title=_("Edit") aria_label=_("Edit") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:character_texture.pk title=_("Delete") aria_label=_("Delete") %}
          </div>
          </td>
      </tr>
    {% endfor %}
    </tbody>

</table>
