{# We need to keep the root <div> container as Unicorn needs it. #}
<div>
  {% if messages %}
    {% include "frontend/partials/success_messages.html" %}
  {% endif %}
  {% if unicorn.errors %}
    {% include 'frontend/partials/error.html' %}
  {% endif %}

  {% include "frontend/partials/heading.html" with title=_("Profile") %}

  <form u:submit.prevent="validate_and_update"
        aria-label="Edit profile information" {% include "frontend/partials/form_attrs.html" %}>
    {% include "frontend/partials/form_input.html" with label=_("Username") id="username" unicorn_model="username" %}
    {% include "frontend/partials/form_input.html" with type="email" label=_("Email address") id="email" unicorn_model="email" %}
    {% include "frontend/partials/form_input.html" with type="password" label=_("Current password") id="old_password" unicorn_model="old_password" %}
    {% include "frontend/partials/form_input.html" with type="password" label=_("New password") id="new_password1" unicorn_model="new_password1" %}
    {% include "frontend/partials/form_input.html" with type="password" label=_("New password (repeat)") id="new_password2" unicorn_model="new_password2" %}
    {% include "frontend/partials/form_buttons.html" %}
  </form>
</div>
