{% load i18n %}
{% load static %}

<div class="w-full block bg-red border-4 border-red p-2 text-center">
  <div>
    <img src="{% static 'icons/exclamation-circle.svg' %}" aria-hidden="true" class="mx-auto h-10 p-1">
    <div class="font-bungee  text-xl uppercase text-grey-1 tracking-wide">{% translate 'Error' %}</div>
  </div>
</div>
