<div class="col-span-full flex justify-end lg:justify-start gap-x-4">
  <div class="basis-28 mt-5">
    {% if cancel_href %}
      {% include "frontend/partials/link_button.html" with label=_("Cancel") aria_label=_("Cancel") color="grey-5" href=cancel_href %}
    {% else %}
      {% include "frontend/partials/button.html" with type="button" label=_("Cancel") aria_label=_("Cancel") color="grey-5" unicorn_action="redirect_to_success_url" %}
    {% endif %}
  </div>
  <div class="basis-40 mt-5">
    {% include "frontend/partials/button.html" with label=submit_label|default:_("Save & Close") aria_label=submit_label|default:_("Save & Close") color="purple" %}
  </div>
</div>
