<div class="flex flex-col md:flex-row items-center min-h-min {% if level == 'h2' %} mt-6 lg:mt-12 {% else %} lg:h-28 mt-4 {% endif %}">
  <div class="flex grow self-start md:self-center">
    <h{% if level == 'h2' %}2{% else %}1{% endif %}>{{ title }}
      {% if additional_information %}
        {{ additional_information  }}
      {% endif %}
    </h{% if level == 'h2' %}2{% else %}1{% endif %}>
  </div>
  <div class="flex lg:mx-4 mt-4 md:my-2  w-full md:w-auto justify-start md:justify-end">
  {% if button_label %}
      {% if button_href %}
        {% include "frontend/partials/link_button.html" with label=button_label aria_label=button_aria_label href=button_href %}
      {% else %}
        {% include "frontend/partials/button.html" with label=button_label aria_label=button_aria_label unicorn_action=button_unicorn_action %}
      {% endif %}
  {% endif %}
    </div>
</div>
<div class="{% if level == 'h2' %}-mt-8 md:-mt-4 lg:-mt-4{% else %}md:-mt-4 lg:-mt-9{% endif %}">
  <div class="border-b-2 border-grey-3">&nbsp;</div>
</div>
