{% load frontend %}
{% load i18n %}

<li class="py-1">
  <a href="{{ url }}"  class="{% if request.path|startswith:url %} bg-purple rounded-sm text-white {% else %} text-purple hover:border-b-purple focus:border-b-purple {% endif %} py-1 border-4 border-purple/0  duration-300">{{ title }}</a>
</li>
