{% load i18n %}
{% load static %}

{% if is_mobile %}
  <li class="flex flex-row items-center gap-2 py-1 lg:py-2">
    <img src="{% static 'icons/users.svg' %}" aria-hidden="true" class="h-7 w-7 offset-purple-static py-0.5 px-1 bg-purple hover:bg-purple ">
    <a href="{% url 'backstage-users' %}" class="py-1 lg:py-2 border-4 border-purple/0 hover:border-b-purple focus:border-b-purple">{% trans "Users" %}</a>
  </li>
  <li class="flex flex-row items-center gap-2 py-1 lg:py-2">
    <img src="{% static 'icons/user.svg' %}" aria-hidden="true" class="h-7 w-7 offset-purple-static py-0.5 px-1 bg-purple hover:bg-purple ">
    <a href="{% url "profile-update" %}" class="py-1 lg:py-2 border-4 border-purple/0 hover:border-b-purple focus:border-b-purple">{% trans "Profile" %}</a>
  </li>
  <li class="flex flex-row items-center gap-2 py-1 lg:py-2">
    <img src="{% static 'icons/info.svg' %}" aria-hidden="true" class="h-7 w-7 offset-purple-static py-0.5 px-1 bg-purple hover:bg-purple ">
    <a href="{% url "about" %}" class="py-1 lg:py-2 border-4 border-purple/0 hover:border-b-purple focus:border-b-purple">{% trans "About" %}</a>
  </li>
  <li class="flex flex-row items-center gap-2 py-1 lg:py-2">
    <img src="{% static 'icons/logout.svg' %}" aria-hidden="true" class="h-7 w-7 offset-purple-static py-0.5 px-1 bg-purple hover:bg-purple ">
    <a href="{% url "logout" %}" class="py-1 lg:py-2 border-4 border-purple/0 hover:border-b-purple focus:border-b-purple">{% trans "Logout" %}</a>
  </li>

{% else %}
  <a href="{% url 'backstage-users' %}" title="{% trans "Users" %}"
     class="hidden lg:block text-grey-1 offset-green bg-green-dark border-green-dark hover:border-grey-1 focus:border-grey-1 py-1 px-2">
    <img src="{% static 'icons/users.svg' %}" aria-hidden="true" class="h-5 w-5">
    <span class="sr-only">{% translate "Users" %}</span>
  </a>
  <a href="{% url "profile-update" %}" title="{% trans "Profile" %}"
     class="hidden lg:block text-grey-1 offset-green bg-green-dark border-green-dark hover:border-grey-1 focus:border-grey-1 py-1 px-2">
    <img src="{% static 'icons/user.svg' %}" aria-hidden="true" class="h-5 w-5">
    <span class="sr-only">Profile</span>
  </a>
  <a href="{% url "about" %}" title="{% trans "About" %}"
     class="hidden lg:block text-grey-1 offset-green bg-green-dark border-green-dark hover:border-grey-1 focus:border-grey-1 py-1 px-2">
    <img src="{% static 'icons/info.svg' %}" aria-hidden="true" class="h-5 w-5">
    <span class="sr-only">{% translate "About WA-Backstage" %}</span>
  </a>
  <a href="{% url "logout" %}" title="{% trans "Logout" %}"
     class="hidden lg:block text-grey-1 offset-green bg-green-dark border-green-dark hover:border-grey-1 focus:border-grey-1 py-1 px-2">
    <img src="{% static 'icons/logout.svg' %}" aria-hidden="true" class="h-5 w-5">
    <span class="sr-only">Logout</span>
  </a>

{% endif %}
