<td {% include "frontend/partials/table_cell_attrs.html" %}>
  <div class="visible lg:hidden w-24 md:w-40 lg:w-auto"><a {% if href %}
    href="{{ href }}"
    class="flex flex-1 h-full "
    role="presentation"
    tabindex="-1"
    {% endif %}>
    {{ title }}:&nbsp;
  </a></div>
  <div {% include "frontend/partials/table_responsive_attrs.html" %}>
    <a {% if href %}
    href="{{ href }}"
    class="flex flex-1 h-full"
    role="presentation"
    tabindex="-1"
    {% endif %}>
    {{ content }}
  </a>
  </div>

</td>
