{% extends "frontend/base.html" %}

{% load frontend %}
{% load i18n %}
{% load static %}


<!-- Title block -->
{% block title %}WA Backstage - CSS Components{% endblock %}
{% block content %}
<div class="mx-4">
  <div class="mt-20">
    <!-- Start: Heading 1 plus button -->
    {% include "frontend/partials/heading.html" with title=_("Heading 1 plus button") button_label=_("Create Entity") button_aria_label=_("Create Entity") %}
    <!-- End: Heading 1 plus button-->
    <!-- Start: Heading 2  -->
    {% include "frontend/partials/heading.html" with title=_("Heading 2") level="h2" %}
    <!-- End: Heading 2 -->
    <!-- Start: Tab navigation -->
    <nav {% include "frontend/partials/tab_attrs.html" %}>
      {% include "frontend/partials/tab.html" with link_url="#" tab_label=_("Tab Name") tab_aria_label=_("Tab Name") %}
      {% include "frontend/partials/tab.html" with link_url="#" tab_label=_("Tab Name") tab_aria_label=_("Tab Name") %}
      {% include "frontend/partials/tab.html" with link_url="#" tab_label=_("Tab Name") tab_aria_label=_("Tab Name") %}
    </nav>
    <!-- End: Tab navigation -->
 </div>

 <div class="mt-20">
  <div class="grid grid-cols-5 gap-4">
    <!-- Start: Example color palette -->
    <div class="col-span-1 bg-purple text-white p-2">&nbsp;</div>
    <div class="col-span-1 bg-green-dark text-white">&nbsp;</div>
    <div class="col-span-1 bg-green text-white">&nbsp;</div>
    <div class="col-span-1 bg-orange text-black">&nbsp;</div>
    <div class="col-span-1 bg-red-light text-black">&nbsp;</div>
    <div class="col-span-1 bg-red text-black">&nbsp;</div>
    <!-- End: Example color palette -->
</div>


  <div class="mt-20">
    <!-- Start: Link -->
    <a href="#" {% include "frontend/partials/link_attrs.html" %}>Example link</a>
    <!-- End: Link -->
  </div>

  <div class="mt-20 flex gap-2">
  <!-- Start: Buttons -->
  {% include "frontend/partials/button.html" with label=_("Purple Button") aria_label=_("Button Description") %}
  {% include "frontend/partials/button.html" with label=_("Red Button") aria_label=_("Button Description") color="red" %}
  <button aria-label="Form description" class="font-blinker font-bold tracking-wider uppercase offset-grey-button pl-4 hover:pl-2.5 pr-2.5 py-1 bg-grey-5 hover:bg-grey-1 text-white hover:text-grey-5 focus:text-grey-5 border-grey-5">{% trans "Grey Button" %}</button>
  <!-- End: Buttons -->
  </div>

  <div class="mt-20">
    <!-- Start: Table with 2 columns-->
    <div role="table" aria-label="{% trans "List name" %}" class="my-6 lg:mt-12 divide-y divide-grey-3 nd:w-full bg-white font-blinker">
    <div role="rowgroup" class="flex  bg-grey-4 px-4 py-2 text-white font-bold text-lg tracking-wider uppercase">
      <div id="list_name" role="columnheader" class="flex flex-grow">Column Header</div>
      <div id="list_name" role="columnheader" class="flex-0 px-4">Actions</div>
    </div>
    <div role="row" class="flex px-4 py-1 items-center text-grey-5">
      <div role="cell" class="flex flex-grow">Column 1</div>
      <div role="cell">
      <button u:click="show_update({{ object.key }})" aria-label="{% trans "Edit" %}" title="{% trans "Edit" %}" class="p-2 mr-4 rounded-sm border-2 border-white hover:bg-grey-2 focus:bg-grey-2 hover:border-grey-3 focus:border-grey-3"><img src="{% static 'icons/pencil-alt.svg' %}" aria-hidden="true" class="h-4 w-4"><span class="sr-only">Edit</span></button>
      <button u:click="delete({{ object.key }})" aria-label="{% trans "Delete" %}"  title="{% trans "Delete" %}" class="p-2 mr-4 rounded-sm border-2 border-white hover:bg-grey-2 focus:bg-grey-2 hover:border-grey-3 focus:border-grey-3"><img src="{% static 'icons/trash.svg' %}" aria-hidden="true" class="h-4 w-4"><span class="sr-only">Delete</span></button>
      </div>
    </div>
    <div role="row" class="flex px-4 py-1 items-center text-grey-5">
      <div role="cell" class="flex flex-grow">Column 1</div>
      <div role="cell">
      <button u:click="show_update({{ object.key }})" aria-label="{% trans "Edit" %}" title="{% trans "Edit" %}" class="p-2 mr-4 rounded-sm border-2 border-white hover:bg-grey-2 focus:bg-grey-2 hover:border-grey-3 focus:border-grey-3"><img src="{% static 'icons/pencil-alt.svg' %}" aria-hidden="true" class="h-4 w-4"><span class="sr-only">Edit</span></button>
      <button u:click="delete({{ object.key }})" aria-label="{% trans "Delete" %}"  title="{% trans "Delete" %}" class="p-2 mr-4 rounded-sm border-2 border-white hover:bg-grey-2 focus:bg-grey-2 hover:border-grey-3 focus:border-grey-3"><img src="{% static 'icons/trash.svg' %}" aria-hidden="true" class="h-4 w-4"><span class="sr-only">Delete</span></button>
      </div>
    </div>
    <div role="row" class="flex px-4 py-1 items-center text-grey-5">
      <div role="cell" class="flex flex-grow">Column 1</div>
      <div role="cell">
      <button u:click="show_update({{ object.key }})" aria-label="{% trans "Edit" %}" title="{% trans "Edit" %}" class="p-2 mr-4 rounded-sm border-2 border-white hover:bg-grey-2 hover:border-grey-3"><img src="{% static 'icons/pencil-alt.svg' %}" aria-hidden="true" class="h-4 w-4"><span class="sr-only">Edit</span></button>
      <button u:click="delete({{ object.key }})" aria-label="{% trans "Delete" %}"  title="{% trans "Delete" %}" class="p-2 mr-4 rounded-sm border-2 border-white hover:bg-grey-2 hover:border-grey-3"><img src="{% static 'icons/trash.svg' %}" aria-hidden="true" class="h-4 w-4"><span class="sr-only">Delete</span></button>
      </div>
    </div>
    <!-- End: Table with 2 columns-->
  </div>


  <div class="mt-20">
    <!-- Start: Table with 3 columns-->
    <table aria-label="{% translate "List name" %}" {% include "frontend/partials/table_attrs.html" %}>
      <thead>
      <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
        {% include "frontend/partials/table_head_col.html" with title=_("Column header 1") %}
        {% include "frontend/partials/table_head_col.html" with title=_("Column header 2") %}
        {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
      </tr>
      </thead>
      <tbody {% include "frontend/partials/table_body_attrs.html" %}>
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with title=_("Column header 1") content="Column 1" %}
        {% include "frontend/partials/table_cell.html" with title=_("Column header 2") content="Column 2" %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:"test" title=_("Edit") aria_label=_("Edit") %}
          {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:"test" title=_("Delete") aria_label=_("Delete") %}
        </td>
      </tr>
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with title=_("Column header 1") content="Column 1" %}
        {% include "frontend/partials/table_cell.html" with title=_("Column header 2") content="Column 2" %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:"test" title=_("Edit") aria_label=_("Edit") %}
          {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:"test" title=_("Delete") aria_label=_("Delete") %}
        </td>
      </tr>
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with title=_("Column header 1") content="Column 1" %}
        {% include "frontend/partials/table_cell.html" with title=_("Column header 2") content="Column 2" %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:"test" title=_("Edit") aria_label=_("Edit") %}
          {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:"test" title=_("Delete") aria_label=_("Delete") %}
        </td>
      </tr>
      </tbody>
    </table>
    <!-- End: Table with 3 columns-->
  </div>

  <div class="mt-20">
    <!-- Start: Form with 2 fields -->
    <form id="form_name" aria-label="Form description" {% include "frontend/partials/form_attrs.html" %}>
      {% include "frontend/partials/form_input.html" with label=_("Field 1") id="field_1" unicorn_model="username" %}
      {% include "frontend/partials/form_input.html" with type="email" label=_("Field 2") id="field_2" unicorn_model="email" %}
      {% include "frontend/partials/form_buttons.html" %}
    </form>
    <!-- End: Form with 2 fields -->
  </div>

  <div class="mt-20">
    <!-- Start: Error message -->
    <div {% include "frontend/partials/error_attrs.html" %}>
        {% include "frontend/partials/error_icon.html" %}
        <div {% include "frontend/partials/error_msg_attrs.html" %}>
            Error messages
        </div>
    </div>
    <!-- End: Error message -->
  </div>

  <div class="mt-20">
    <!-- Start: Success message -->
    {% include "frontend/partials/success_messages.html" %}
    <!-- End: Success message -->
  </div>
</div>
{% endblock %}
