{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <div class="w-full">
    <div class="bg-green py-4">
      <img src="{% static 'images/logo.svg' %}" alt="" aria-hidden="true" class="h-8 mx-auto" >
    </div>
    <div class="bg-grey-1 p-8 h-96 shadow-sm">
      <div class="text-center">
        <h1 class="my-4">{% translate "Logged out" %}</h1>
      <a href="{% url 'login' %}" class="text-xs text-blue font-normal hover:underline focus:underline">{% translate "Back to login" %}</a>
    </div>
    </div>
  </div>
{% endblock %}
