{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  {% if form.errors %}
    <div {% include "frontend/partials/error_attrs.html" %}>
      {% include "frontend/partials/error_icon.html" %}
      <div {% include "frontend/partials/error_msg_attrs.html" %}>
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.password.errors }}
      </div>
    </div>
  {% endif %}
  <div class="w-full">
    <div class="bg-green py-4">
      <img src="{% static 'images/logo.svg' %}" alt="" aria-hidden="true" class="h-8 mx-auto" >
    </div>
    <div class="bg-grey-1 p-8 h-96 shadow-sm">
      <form method="post" action="{% url 'login' %}" role="form" aria-label="{% translate "Login" %}" class="grid grid-cols-1 gap-2 place-items-center font-blinker text-grey-5 ">
        <div class="col-span-1 w-full md:w-80">
          <h1 class="my-4 text-center">Login</h1>
        </div>
        {% csrf_token %}
        <div class="col-span-1 w-full md:w-80">
          <label for="{{ form.username.id_for_label_tag }}" class="block text-lg font-bold">{{ form.username.label_tag }}</label>
          <div class="w-full">{{ form.username }}</div>
        </div>
        <div class="col-span-1 w-full  md:w-80">
          <label for="{{ form.username.password.id_for_label_tag }}" class="block text-lg font-bold">{{ form.password.label_tag }}</label>
          <div class="w-full">{{ form.password }}</div>
        </div>
        <div class="col-span-1 w-full  md:w-80 mt-2">
          <button type="submit" aria-label="Login" class="w-full font-blinker font-bold tracking-wider uppercase offset-purple-button pl-4 hover:pl-2.5 pr-2.5 py-1 bg-purple hover:bg-grey-1 text-white hover:text-purple focus:text-purple border-purple">{% translate "Login" %}</button>
        </div>
        <div class="col-span-1 w-full md:w-80 text-right">
          <a href="{% url 'password_reset' %}" class="text-xs text-blue font-normal hover:underline focus:underline">{% translate "Forgot password?" %}</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
