{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <div class="w-full">
    <div class="bg-green py-4">
      <img src="{% static 'images/logo.svg' %}" alt="" aria-hidden="true" class="h-8 mx-auto" >
    </div>
    <div class="bg-grey-1 p-8  h-96 shadow-sm">
      <form method="post" role="form" aria-label="{% translate "Reset password" %}" class="grid grid-cols-1 gap-2 place-items-center font-blinker text-grey-5 text-lg">
        {% csrf_token %}
        <div class="col-span-1 w-full md:w-80">
          <h1 class="my-4 text-center">Reset password</h1>
        </div>
        <div class="col-span-1 w-full md:w-80">
          <label for="{{ form.email.id_for_label_tag }}" class="block font-bold">{{ form.email.label_tag }}</label>
          <div class="w-full">{{ form.email }}</div>
        </div>
        <div class="col-span-1 w-full md:w-80 mt-2">
          <button type="submit" aria-label="Reset Password" class="w-full font-blinker font-bold tracking-wider uppercase offset-purple-button pl-4 hover:pl-2.5 pr-2.5 py-1 bg-purple hover:bg-grey-1 text-white hover:text-purple focus:text-purple border-purple">{% translate "Reset password" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
